h1{
    font-family: Courier;
    font-size: 50px;
    color: aqua;
}

p{
    font-style: italic;}

img{
    width: 250px;
    margin-left: 40%;
}

table{
    margin-left: 40%;
}

#h1_id{
    margin-left: 40%;
}

.h2{
        margin-left: 50%;
        color: coral;
}

body{
    background-color: coral;
    border-style: double;

table{
    text-align: center;
}